{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "parser": "typescript",
  "filepath": "*.{ts,tsx,js,jsx,graphql}"
}
